<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      href="/node_modules/select2/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <title>All Users</title>
    <link rel="stylesheet" href="/styles.css" />
    <style>
      .container {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      table thead th {
        cursor: pointer;
      }
      .highlight {
        background-color: #e2e6ea !important;
      }
      .filter-container {
        display: flex;
        align-items: center;
        gap: 15px;
      }
      .select2-container {
        width: 200px !important;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('../navbar.html') %>

    <div class="container my-5">
      <div class="row mb-4">
        <div
          class="col-md-12 d-flex align-items-center justify-content-between w-100"
        >
          <h2 class="text-primary">All Customers</h2>
          <!-- Search Users -->
          <input
            id="searchInput"
            class="form-control w-25"
            type="text"
            placeholder="Search users..."
          />
          <!-- Route Filter -->
          <input
            id="routeFilter"
            class="form-control w-25"
            type="text"
            placeholder="Search by Route"
          />
          <a href="/add" class="btn btn-outline-primary">Add Customer</a>
        </div>
        <div class="filter-container mt-3">
          <span class="fw-bolder">Filters:</span>
          <!-- Colony Filter -->
          <select id="colonyFilter" class="form-control">
            <option value="">All Colonies</option>
            <% rows.forEach(colony => { %>
            <option value="<%= colony.colony %>"><%= colony.colony %></option>
            <% }) %>
          </select>

          <!-- Last Active Filter -->
          <input
            id="lastActiveFilter"
            class="form-control w-25"
            type="date"
            placeholder="Filter by Last Active (YYYY-MM-DD)"
          />
          <!-- Paid Filter -->
          <input
            id="paidFilter"
            class="form-control w-25"
            type="text"
            placeholder="Filter by Paid"
          />

          <!-- Due Filter -->
          <input
            id="dueFilter"
            class="form-control w-25"
            type="text"
            placeholder="Filter by Due"
          />

          <!-- Defaulter Filter Checkbox -->
          <div class="form-check">
            <input
              type="checkbox"
              id="defaulterFilter"
              class="form-check-input"
            />
            <label class="form-check-label" for="defaulterFilter"
              >Defaulters</label
            >
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
          <tr>
            <th data-sort="id">Id <i class="fas fa-sort"></i></th>
            <th data-sort="name">Name <i class="fas fa-sort"></i></th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Colony</th>
            <th data-sort="paid">Paid <i class="fas fa-sort"></i></th>
            <th data-sort="due">Due <i class="fas fa-sort"></i></th>
            <th>Route</th>
            <th>Last Active</th>
            <th>Defaulter</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="userTableBody">
          <% if(rows.length > 0) { %> <% rows.forEach(row => { %>
          <tr>
            <td><%= row.customerId %></td>
            <td><%= row.customerName %></td>
            <td><%= row.address %></td>
            <td><%= row.contactNumber %></td>
            <td><%= row.colony %></td>
            <td><%= row.paid %></td>
            <td><%= row.due %></td>
            <td><%= row.route %></td>
            <td><%= row.lastActive %></td>
            <td class="text-center">
              <input type="checkbox" name="defaulter" class="check" disabled
              id="defaulter" <%= row.defaulter === 1 ? "checked" : "" %> >
            </td>
            <td>
              <a
                href="/update/<%= row.customerId %>"
                class="btn btn-sm btn-outline-warning"
                >Update</a
              >
              <% if(row.disable === 0 ) { %>
              <button
                class="btn btn-sm btn-outline-dark"
                data-bs-toggle="modal"
                data-bs-target="#disableModal<%= row.customerId %>"
              >
                Disable
              </button>
              <% } else { %>
              <button
                class="btn btn-sm btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#enableModal<%= row.customerId %>"
              >
                Enable
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal<%= row.customerId %>"
              >
                Delete
              </button>
              <% } %>
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
      <nav>
        <ul class="pagination justify-content-center" id="pagination"></ul>
      </nav>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/select2/dist/js/select2.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const colonyFilter = document.getElementById("colonyFilter");
        const routeFilter = document.getElementById("routeFilter");
        const searchInput = document.getElementById("searchInput");
        const lastActiveFilter = document.getElementById("lastActiveFilter");
        const paidFilter = document.getElementById("paidFilter");
        const dueFilter = document.getElementById("dueFilter");
        const defaulterFilter = document.getElementById("defaulterFilter");
        const userTableBody = document.getElementById("userTableBody");
        const pagination = document.getElementById("pagination");

        $(colonyFilter).select2();

        // Filter functionality
        function filterTable() {
          const colonyValue = colonyFilter.value;
          const routeValue = routeFilter.value.toLowerCase();
          const searchValue = searchInput.value.toLowerCase();
          const lastActiveValue = lastActiveFilter.value;
          const paidValue = paidFilter.value;
          const dueValue = dueFilter.value;
          const defaulterChecked = defaulterFilter.checked;

          const rows = userTableBody.getElementsByTagName("tr");
          for (const row of rows) {
            const cells = row.getElementsByTagName("td");
            const colonyText = cells[4].textContent;
            const routeText = cells[7].textContent;
            const nameText = cells[1].textContent;
            const lastActiveText = cells[8].textContent;
            const paidText = cells[5].textContent;
            const dueText = cells[6].textContent;
            const isDefaulter = cells[9].querySelector("input").checked;

            const isColonyMatch =
              colonyValue === "" || colonyText === colonyValue;
            const isRouteMatch = routeText.toLowerCase().includes(routeValue);
            const isNameMatch = nameText.toLowerCase().includes(searchValue);
            const isLastActiveMatch =
              lastActiveValue === "" ||
              lastActiveText.includes(lastActiveValue);
            const isPaidMatch =
              paidValue === "" || paidText.includes(paidValue);
            const isDueMatch = dueValue === "" || dueText.includes(dueValue);
            const isDefaulterMatch = !defaulterChecked || isDefaulter;

            const isVisible =
              isColonyMatch &&
              isRouteMatch &&
              isNameMatch &&
              isLastActiveMatch &&
              isPaidMatch &&
              isDueMatch &&
              isDefaulterMatch;

            row.style.display = isVisible ? "" : "none";
          }

          setupPagination();
        }

        // Event listeners for filters
        colonyFilter.addEventListener("change", filterTable);
        routeFilter.addEventListener("input", filterTable);
        searchInput.addEventListener("input", filterTable);
        lastActiveFilter.addEventListener("change", filterTable);
        paidFilter.addEventListener("input", filterTable);
        dueFilter.addEventListener("input", filterTable);
        defaulterFilter.addEventListener("change", filterTable);

        // Setup pagination
        function setupPagination() {
          const rows = userTableBody.getElementsByTagName("tr");
          const rowsPerPage = 10;
          const pageCount = Math.ceil(rows.length / rowsPerPage);
          pagination.innerHTML = "";

          for (let i = 1; i <= pageCount; i++) {
            const li = document.createElement("li");
            li.classList.add("page-item");
            li.innerHTML = `<a class="page-link" href="#">${i}</a>`;
            li.addEventListener("click", function () {
              Array.from(rows).forEach((row, index) => {
                row.style.display =
                  index < rowsPerPage * i && index >= rowsPerPage * (i - 1)
                    ? ""
                    : "none";
              });
            });
            pagination.appendChild(li);
          }
        }

        filterTable();
      });
    </script>
  </body>
</html>
